
    <div class="clo">
        <span id="now">Thời gian hiện tại: </span><span id="clock"></span>
        <script>

function clock(){
   var timer = new Date();
   var hour = timer.getHours();
   var minute = timer.getMinutes();
   var second = timer.getSeconds();
   if(hour < 10) {
       hour = "0" + hour;
   }
   if(minute < 10) {
       minute = "0" + minute;
   }
   if(second < 10) {
       second = "0" + second;
   }
   var time = hour + ":" + minute + ":" + second;
   var date = timer.getDate()+'-'+(timer.getMonth()+1)+'-'+timer.getFullYear();
   var dateTime = date+' '+time;
   document.getElementById("clock").innerHTML = dateTime;
}
setInterval("clock()",1000);
        </script>
    </div>
    <div class="banner">
        <img class="img" src="../img logo/Banner_News.96d6d872.jpg" />
    </div>
    <div class="clearfix">
        <div class="nav">
            <a class="link-3" href="../index.html">Trang chủ</a>
            <a class="link-3" href="../intro.html">Giới thiệu</a>
            <a class="link-3" href="../product.html">Sản phẩm</a>
            <a class="link-3" href="../store.html">Cửa hàng</a>
            <a class="link-3" href="../recruit.html">Tuyển dụng</a>
            <a class="link-3" href="../signin.html">Đăng nhập</a>
            <a class="link-3" href="../contact.html">Liên hệ</a>
        </div>
        </div>