
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutTraSua.cshtml";
}
    <p class="new">SẢN PHẨM NỔI BẬT</p>
    <hr width="100%" color="red" align="left" size="2px" />
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a3-2.jpg" />
        <div class="theend">
            <p class="tensach"> Trà sữa nướng chân trâu đường </p>
            <p class="dongia">Giá: <span class="gia">60,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a3-4.jpg" />
        <div class="theend">
            <p class="tensach"> Sữa tươi nướng trân châu đường </p>
            <p class="dongia">Giá: <span class="gia">60,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a4-6.jpg" />
        <div class="theend">
            <p class="tensach"> Trà vải thiết quan âm </p>
            <p class="dongia">Giá: <span class="gia">45,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a1-6.jpg" />
        <div class="theend">
            <p class="tensach"> Trà sữa tam bảo </p>
            <p class="dongia">Giá: <span class="gia">60,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a1-5.jpg" />
        <div class="theend">
            <p class="tensach"> Trà sữa kem </p>
            <p class="dongia">Giá: <span class="gia">55,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a2-3.jpg" />
        <div class="theend">
            <p class="tensach"> Trà sữa Chocolate bọt biển </p>
            <p class="dongia">Giá: <span class="gia">55,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a7-5.jpg" />
        <div class="theend">
            <p class="tensach"> Trà đen kem cheese </p>
            <p class="dongia">Giá: <span class="gia">50,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="sach">
        <img class="hinhsach" src="~/img-sanpham/a4-1.jpg" />
        <div class="theend">
            <p class="tensach"> Trà đào </p>
            <p class="dongia">Giá: <span class="gia">45,000 VNĐ</span></p>
            <a href="#"><img class="nutchonmua" src="~/img-sanpham/nutmua.png" /></a>
        </div>
    </div>
    <div class="btn"><a href="product.html"><span id="xt">XEM THÊM</span></a></div>
